@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic");

:hover {
  transition: all 1s;
}
:active{
  transition: all 0.1s;
}

body,
html {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  border: 0 none;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(to right  bottom, purple, crimson);
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*   Разметка сетки на две части  */
.container {
  flex-direction: row;

  display: flex;
  min-height: 100vh;

  background-color: rgba(10,17,42, .7);
}

.index-column__right {
  flex-direction: column;

  display: flex;
  max-width: 350px;
  min-height: 100%;

  background-color: rgba(10,17,42, .6);
}

.container:before {
  position: absolute;
  top: 250px;
  left: 345px;

  width: 5px;
  height: 600px;
  overflow-y: hidden;

  content: "";

  background-color: rgba(244, 66, 238,.02);
  border-radius: 20px;

  filter: blur(3px);
}

.index-column__left {
  flex-direction: column;

  display: flex;
  width: 100%;
  min-height: 100%;

  background-color: rgba(10,17,42, .7);
}

/*Боковое меню*/
.header {
  min-width: 200px;
  padding-top: 120px;
  margin: 0;
}

.avatar {
  justify-content: center;

  display: flex;
}

.avatar img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* Навигация */
.nav__list {
  flex-direction: column;

  display: flex;
  padding: 0;
  margin: 0;

  font-size: 32px;
  line-height: 32px;
  color: #fff;
  list-style: none;
}

.nav__item {
  position: relative;

  padding: 25px 117px;
  margin-bottom: 50px;
}

.nav__item_active {
  color: rgba(255,75,168, .9);
}

/* Ховер эффекты */
.nav__item_active:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 81px;

  content: "";
  content: "";

  background-color: #ff4ba8;
}

.nav__item:hover:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 81px;

  content: "";

  background-color: #ff4ba8;
}

.nav__item:hover {
  background-color: rgba(255,255,255, .03);

  cursor: pointer;
}

.nav__item:active {
  color: rgba(255,75,168, .9);

  cursor: pointer;
}

/* Подвал с соцсетями */
.footer__nav-bar {
  position: relative;
  bottom: 0;

  min-width: 200px;
  min-height: 20vh;
  padding-bottom: 60px;
  margin: 0;
}

.social__list {
  display: flex;
  margin: 0 auto;
  margin: 50px;

  list-style: none;
}

.social__item {
  margin-left: 20px;
}
/* Основной контент*/
.entry{
  display: flex;
  flex-direction: column;
  width: 570px;
  padding-top: 110px;
  padding: 110px 5px 0 5px;
  margin: 0;
  margin-left: 50px;
}
.entry__title{
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  margin-right: 0;
  font-size: 42px;
  position: relative;
  font-weight: 400;


}
.entry__title:before{
  display: block;
  position: relative;
  top: 60px;
  left: -10px;
  content: "";
  width: 100%;
  height: 2px;
  border-bottom: 2px solid rgba(255,75,168, .9);
}
.about__title{
  font-size: 48px;
  padding:0;
  margin-bottom: 20px;
  font-weight: 400;
}
.about__title:after{
  content: ".";
  position: relative;
  font-size:70px;
  color: rgba(255,75,168, .9);
}
.about__subtitle{
  margin: 0;
  font-size: 32px;
  color: rgba(255,75,168, .9);
  font-weight: 200;
  margin-bottom: 55px;
}
.about__text{
  text-align: left;
  margin: 0;
}
.about__text_col{
  font-size: 26px;
  line-height: 32px;
  color: rgba(93,150,255, 0.9);

}
.preview{
  display: flex;
  flex-direction: row;
}
.preview__title{
  font-size: 18px;
  color: rgba(255,75,168, .9);
  position: relative;
}

.preview__title::after{
  position: absolute;
  content: "|";
  top: 0px;
  left: 100px;
  font-size: 35px;
  transform: rotate(15deg);
}
.preview-menu{
  display: flex;
  list-style: none;
}
.preview-menu__item{
  margin-left: 15px;
}
.entry__btn{

}

