@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic");

:hover {
  transition: all .7s;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  box-sizing: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #fff;

  background: linear-gradient(to right  bottom, purple, crimson) no-repeat;

  cursor: url(../cur1089.cur), progress !important;
}

a {
  text-decoration: none;
  color: inherit;

  cursor: url(../cur1089.cur), progress !important;
}

textarea,
input {
  box-sizing: border-box;
}

button {
  cursor: url(../cur1089.cur), progress !important;
}

/*   Разметка сетки на две части  */
.container {
  flex-direction: row;

  display: flex;
  width: 100%;
  min-height: 100%;

  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.index-column__left {
  flex-direction: column;

  display: flex;
  width: 20%;
  min-height: 100%;

  background-color: rgba(10,17,42, .8);
}

/*.container:before {
  position: absolute;
  top: 250px;
  left: 345px;

  width: 5px;
  height: 600px;
  overflow-y: hidden;

  content: "";

  background-color: rgba(244, 66, 238,.02);
  border-radius: 20px;

  filter: blur(3px);
}
*/
.index-column__right {
  position: relative;
  flex-direction: column;

  display: flex;
  width: 100%;
  min-height: 100%;
  padding: 0 60px;

  background-color: rgba(10,17,42, .9);
}

.index-column__right_avatar:after {
  position: absolute;
  top: 250px;
  left: 620px;

  width: 450px;
  height: 700px;

  content: "";

  background-image: url(../img/avatar-devel.png);
  background-repeat: no-repeat;
  background-size: 450px;

  opacity: .7;
}

/*Боковое меню*/
.header {
  flex-direction: column;

  display: flex;
  min-width: 200px;
  padding-top: 80px;
  margin: 0;
}

.avatar {
  justify-content: center;

  display: flex;
  margin-bottom: 50px;
}

.avatar__img {
  width: 150px;
  height: 150px;
}

/* Навигация */
.nav__list {
  flex-direction: column;

  display: flex;
  padding: 0;
  margin: 0;

  font-size: 32px;
  line-height: 32px;
  color: #fff;
  list-style: none;
}

.nav__item {
  position: relative;
  align-items: center;
  justify-content: center;

  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

/* Ховер эффекты */
.nav__link_active:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 81px;

  content: "";

  background-color: #ff4ba8;
}

.nav__item:hover:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 81px;

  content: "";

  background-color: #ff4ba8;
}

.nav__item:hover {
  background-color: rgba(255,255,255, .03);
}

.nav__link:active {
  color: rgba(255,75,168, .9);

  transition: .1s;
}

.nav__link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 25px 0;

  text-align: center;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
}

.nav__link_active {
  color: rgba(255,75,168, .9);
}

/* Подвал с соцсетями */
.footer__nav-bar {
  margin-top: auto;
}

.social__list {
  justify-content: center;

  display: flex;
  margin: 0 auto;
  margin: 50px;

  list-style: none;
}

.social__item {
  width: 40px;
  height: 40px;
  margin-left: 20px;

  opacity: .3;
}

.social__item:hover {
  box-shadow: 0 0 2px 2px #fff;
  border-radius: 50%;

  opacity: 1;
}

.social__link {
  text-decoration: none;
  color: #fff;
}

/*==============================*/

/* Основной контент*/
.entry {
  flex-direction: column;

  display: flex;
  width: 570px;
  padding: 110px 5px 0 5px;
  margin: 0;
  margin-left: 60px;
}

.entry__title_eff {
  position: relative;

  display: inline-block;
}

.entry__title_eff:after {
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";

  background-color: rgba(255,75,168, .9);;
}

.entry__title {
  padding: 0;
  margin: 0;

  font-size: 42px;
  font-weight: 400;
}

.about__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 48px;
  font-weight: 400;
}

.about__title:after {
  position: relative;

  content: ".";
  font-size: 70px;
  color: rgba(255,75,168, .9);
}

.about__subtitle {
  margin: 0;
  margin-bottom: 55px;

  font-size: 32px;
  font-weight: 200;
  color: rgba(255,75,168, .9);
}

.about__text {
  margin: 0;
  margin-bottom: 40px;

  text-align: left;
}

.about__text_col {
  font-size: 26px;
  line-height: 32px;
  color: rgba(93,150,255, .9);
}

.preview {
  flex-direction: row;

  display: flex;
  margin-bottom: 130px;
}

.preview__title {
  position: relative;

  width: 150px;

  font-size: 18px;
  color: rgba(255,75,168, .9);
}

.preview__title::after {
  position: absolute;
  top: 0;
  left: 120px;

  content: "|";
  font-size: 35px;

  transform: rotate(15deg);
}

.preview-menu {
  display: flex;

  list-style: none;
}

.entry__btn {
  margin-bottom: 70px;
}

.entry__btn_left {
  margin-right: 40px;
}

.btn {
  padding: 10px 50px;

  color: #fff;

  background-color: rgba(93,150,255, .9);
  box-shadow: 0 0 5px 2px rgba(93,150,255, .9);
  border: 2px solid rgba(255,255,255, .7);
  border-radius: 200px 200px 200px 200px;
}

.preview-menu__item {
  margin-top: -15px;
  margin-left: 15px;

  opacity: .3;
}

.preview-menu__item_active {
  opacity: 1;
}

.preview-menu__item:hover {
  opacity: 1;
}

.preview-menu__link img {
  width: 50px;
  height: 50px;
}

.btn:hover {
  color: #fff;

  background-color: rgba(255,75,168, .9);
  box-shadow: 0 0 5px 2px rgba(255,75,168, .9);
  border: 2px solid rgba(255,255,255, .7);
  border-radius: 200px 200px 200px 200px;
}

.entry__slogan {
  position: relative;

  margin: 0;

  color: rgba(255,255,255, .7);
}

.entry__slogan:before {
  position: absolute;
  top: -40px;
  left: -15px;
  z-index: 0;

  width: 20px;
  height: 20px;

  content: url(../img/quote-left.svg);
}

/*================ Block Work ======================*/
.work {
  width: 100%;
  height: 100%;
}

.block-entry {
  justify-content: space-between;

  display: flex;
  padding: 110px 0 0 0;
  margin: 0;
  margin-bottom: 140px;
}

.search {
  position: relative;
  top: -14px;

  width: 550px;
  height: 120px;
  margin-right: 80px;
  overflow: hidden;
}

.search__input {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  padding: 0 65px 25px 60px;

  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  letter-spacing: .3px;
  color: #ddd;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  transform: scaleX(0);
  transform-origin: 10%;
}

.search__button {
  position: absolute;
  right: 60px;
  bottom: 33px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  outline: none;
  transform: rotate(45deg);

  -webkit-tap-highlight-color: transparent;
}

.search__button::-moz-focus-inner {
  border: 0;
}

.search__label {
  position: absolute;
  top: 0;
  left: 60px;

  width: 325px;
  height: 77px;
  overflow: hidden;

  font-size: 28px;
  line-height: 95px;
  letter-spacing: .3px;
  color: #ddd;

  pointer-events: none;
}

.search__label div {
  white-space: pre;
}

.search__border {
  position: absolute;
  right: 47px;
  bottom: 32px;

  width: 20px;
  height: 3px;

  background-color: transparent;
  transform: rotate(45deg);
}

.search__text {
  font-size: 42px;

  opacity: 0;
  pointer-events: none;
}

.search:before {
  position: absolute;
  top: 40px;
  left: 40px;

  width: 4px;
  height: 25px;

  content: "";

  background-color: #fff;

  transition: opacity .3s;

  opacity: 0;
}

.search.edge:before {
  opacity: 1;
}

.search__close {
  position: absolute;
  top: 5px;
  right: 50px;
  z-index: 5;

  font-size: 24px;
  color: rgba(255,75,168, .9);

  transition: opacity .4s;

  opacity: 0;
  pointer-events: none;
}

.search__close.visible {
  transition-delay: .4s;

  opacity: 1;
  pointer-events: auto;
}

.search__border_span {
  position: relative;

  display: inline-block;
  width: 150%;
}

.search__border_span:after {
  position: absolute;
  top: -30px;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";

  background-color: rgba(255,255,255, 1);;
}

/*============== Gallery style ===============*/
.gallery {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  display: flex;
  width: 100%;
  padding-top: 15px;
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;
}

.gallery__item {
  width: 325px;
  height: 235px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.bg-body {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 999;

  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0, .2);
}

.gallery__img_zoom {
  width: 60%;
  height: 70%;

  box-shadow: 0 0 5px 5px #fff;
  border-radius: 10px;
  border-radius: 2px solid #fff;
}

@keyframes closeImg {
  0% {
    transform: scale(1);

    opacity: 0;
  }

  100% {
    transform: scale(0);

    opacity: .8;
  }
}

@keyframes openImg {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.bg-open {
  animation: openImg 1s;
}

.bg-close {
  animation: closeImg 1s;
}

.gallery__img {
  border-radius: 10px;
}

.gallery__img:hover {
  box-shadow: 0 0 5px 1px rgba(255,255,255, .5);
  border-radius: 10px;
}

.gallery__text {
  font-size: 26px;
  text-align: center;
  color: rgba(255,255,255, .8);
}

.gallery__link {
}

.gallery__top,
.gallery__bot {
  position: relative;
  top: 0;

  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0 auto;

  background-color: rgba(255,75,168, .9);
  box-shadow: 0 4px 5px 7px rgba(0,0,0, .7);
  border-radius: 20%;
}

.gallery__bot {
  background-color: rgba(255,75,168, .9);
  box-shadow: 0 -4px 5px 8px rgba(0,0,0, .7);
}

/*========= labs =========*/
.labs-gallery {
  flex-direction: row;
  flex-wrap: wrap;

  display: flex;
  width: 100%;

  padding-top: 15px;
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;
}

.labs-gallery__item {
  width: 480px;
  height: 650px;
  min-height: 450px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 60px;

  background-color: rgba(10,17,42, .8);
  border-radius: 5px;
}

.labs-gallery__img {
  width: 480px;
  height: 380px;

  border: 2px solid #fff;
  border-radius: 5px;
}

.labs-gallery__title {
  margin-left: 30px;

  font-size: 26px;
  color: #fff;
}

.labs-gallery__text {
  margin: 0 30px;
  margin-bottom: 40px;

  font-size: 18px;
  color: rgba(255,255,255, .60);
  word-wrap: break-word;

  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.labs-gallery__btn {
  padding: 10px;
  margin-left: 30px;

  font-size: 16px;
  color: #fff;
}

.blog-content {
  position: relative;
  align-items: center;
  justify-content: center;

  display: flex;
  width: 50%;
  height: 50%;
}

.blog-content__container {
  flex-direction: column;

  display: flex;
  width: 70%;
  height: 90%;
  overflow-y: scroll;

  color: #fff;

  background-color: rgba(10,17,42, .9);
  box-shadow: 0 0 10px 4px rgba(255,75,168, .7);
  border: 3px solid rgba(255,255,255, .8);
  border-radius: 10px;
}

.blog-content__wrap {
  flex-direction: column;

  display: flex;
  width: 100%;
  padding: 0 5%;
}

.blog-content__img {
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid #fff;
}

.blog-content__title {
  margin: 0 auto;

  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.blog-content__text {
  font-size: 16px;
  line-height: 24px;
}

.blog-content__btn {
  position: relative;
  top: -290px;
  right: -20px;
  align-items: center;
  justify-content: center;

  display: flex;
  height: 20px
  width: 20px;

  color: #fff;

  background-color: rgba(93,150,255, .9);
  box-shadow: 0 0 5px 2px rgba(93,150,255, .9);
  border: 2px solid rgba(255,255,255, .7);
  border-radius: 200px 200px 200px 200px;
}

.blog-content__btn:hover {
  color: #fff;

  background-color: rgba(255,75,168, .9);
  box-shadow: 0 0 5px 2px rgba(255,75,168, .9);
  border: 2px solid rgba(255,255,255, .7);
  border-radius: 200px 200px 200px 200px;
}

.contact {
  height: 100%;
  padding: 0 60px;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 400;
}

.form {
  width: 100%;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 250px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
  color: #fff;

  background-color: transparent;
  border: 1px solid rgba(255,255,255, .3);

  resize: none;
}

.form__title {
  margin-bottom: 30px;
}

.form-list__wrap {
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;
  min-height: 180px;
}

.form-list__item {
  width: 45%;
  min-height: 80px;
  padding: 10px 0 10px 30px;

  font-size: 28px;
  color: #fff;

  background-color: transparent;
  border: 1px solid rgba(255,255,255, .3);;
}

.form-list__item::placeholder {
  color: rgba(255,255,255, .3);
}

.form-list__item:nth-child(2n) {
  margin-right: 0;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  border: 0;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 458dpi),
  only screen and (                min-resolution: 3dppx),
  only screen and (min-width: 414px) and (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  /*=========== Header =============*/
  .index-column__left {
    width: 100%;
    padding: 20px 15px 20px 15px;
  }

  .header {
    flex-direction: row;

    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }

  .nav-bar {
    width: 100%;
  }

  .avatar {
    margin: 0;
  }

  .nav__list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  .nav__item {
    width: auto;
    margin: 0 auto;
  }

  .nav__item:hover {
    background-color: transparent;
  }

  .nav__link {
    padding-bottom: 5px;
    margin: 0;
  }

  .nav__link_active {
    border-bottom: 3px solid #fff;
    border-radius: 7px;
  }

  .nav__link_active:before,
  .nav__item:hover::before {
    display: none;
  }

  .social__list {
    margin: 0;
  }

  /*==============Index-right================*/
  .index-column__right {
    padding: 25px 15px 60px 15px;
  }

  /*==============About================*/

  .entry {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .about {
  }

  .index-column__right_avatar:after {
    top: 0;
    left: 0;

    width: 0;
  }

  .preview__title {
    margin: 0;
  }

  .preview-menu {
    width: 200px;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    overflow-x: scroll;
  }

  /*==============Gallery================*/
  .block-entry {
    padding: 0;
    margin-bottom: 60px;
  }

  .gallery {
    height: 500px;
  }

  .gallery__img_zoom {
    width: 80%;
    height: 55%;
  }
  /*==============Blog================*/
  .labs-gallery{
    padding: 0;
    height: 600px;
    border-radius: 5px;
  }
  .labs-gallery__item{
    width: 387px;
    height: 600px;
  }
  .labs-gallery__img {
  width: 100%;
  height: 330px;
  }
  .blog-content{
    width: 90%;
    height: 50%;
  }
  .blog-content__container{
    width: 90%;
  }
  .blog-content__title{
    font-size: 18px;
  }
  .blog-content__btn{
    top: -170px;
    right: -15px;

  }

}

@media only screen and (min-width: 414px) and (orientation: landscape) {
  .gallery__img_zoom {
    width: 80%;
    height: 90%;
  }
  .blog-content{
    width: 90%;
    height: 95%;
  }
  .blog-content__title{
    font-size: 18px;
  }
  .blog-content__btn{
    top: -150px;
  }
}

/*================== Media for iphone 5=========================*/
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2dppx) {
    /* Retina styles here */
.container {
    flex-direction: column;
  }

  /*=========== Header =============*/
  .index-column__left {
    width: 100%;
    padding: 20px 15px 20px 15px;
  }

  .header {
    flex-direction: row;

    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }

  .nav-bar {
    width: 100%;
  }

  .avatar {
    margin: 0;
  }

  .nav__list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .nav__item {
    width: auto;
    margin: 0;
    margin-left: 25px;
  }

  .nav__item:hover {
    background-color: transparent;
  }

  .nav__link {
    padding-bottom: 5px;
    margin: 0;
  }

  .nav__link_active {
    border-bottom: 3px solid #fff;
    border-radius: 7px;
  }

  .nav__link_active:before,
  .nav__item:hover::before {
    display: none;
  }

  .social__list {
    margin: 0;
  }

  /*==============Index-right================*/
  .index-column__right {
    padding: 25px 15px 60px 15px;
  }

  /*==============About================*/

  .entry {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .about {
  }

  .index-column__right_avatar:after {
    top: 0;
    left: 0;

    width: 0;
  }

  .preview__title {
    margin: 0;
  }

  .preview-menu {
    width: 200px;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    overflow-x: scroll;
  }

  /*==============Gallery================*/
  .block-entry {
    padding: 0;
    margin-bottom: 60px;
  }

  .gallery {
    height: 500px;
  }

  .gallery__img_zoom {
    width: 80%;
    height: 55%;
  }
  /*==============Blog================*/
  .labs-gallery{
    padding: 0;
    height: 600px;
    border-radius: 5px;

  }
  .labs-gallery__item{
    width: 387px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .labs-gallery__img {
  width: 100%;
  height: 330px;
  }
  .blog-content{
    width: 90%;
    height: 50%;
  }
  .blog-content__container{
    width: 90%;
  }
  .blog-content__title{
    font-size: 18px;
  }
  .blog-content__btn{
    top: -110px;
    right: -15px;

  }

}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .gallery__img_zoom {
    width: 80%;
    height: 90%;
  }
  .blog-content{
    width: 90%;
    height: 95%;
  }
  .blog-content__title{
    font-size: 18px;
  }
  .blog-content__btn{
    top: -130px;
  }
}
/* Retina styles here */

/* Retina styles here */
